<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><!-- để sử dụng được thymeleaf thì khai báo đường dẫn(link) xmlns:th="http://www.thymeleaf.org"-->
<head>
<meta charset="UTF-8">
<title>Spring Boot + Thymeleaf</title>
</head>
<body>
<h1>Hello: Spring Boot + Thymeleaf</h1>
<p th:text=" 'message: ' + ${message} + '!'" /><!-- th:text đây là thuộc tính thymeleaf engine nhúng vào thẻ p trong html, $(message) là thuộc tính được định nghĩa trong model và truyền vào giá trị là hello nên khi chạy trang html sẽ hiển thị là hello -->
</body>
</html>