<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><!-- để sử dụng được thymeleaf thì khai báo đường dẫn(link) xmlns:th="http://www.thymeleaf.org"-->
   <head>
   <meta charset="UTF-8"/>
   <title>Person List</title>
   <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
       <h1>Person List</h1>
       <a href="#">Add Person</a>
       <br/><br/>
<div>
<table border="1">
<tr>
<th>First Name</th>
<th>Last Name</th>
</tr>
<tr th:each ="person : ${persons}"><!-- khai báo dối tượng person và truyền vào đó là list persons -->
     <td th:utext="${person.firstName}">...</td><!-- hai cái dưới này là truyền vài firstName và lastName thông qua đối tượng person -->
     <td th:utext="${person.lastName}">...</td>
</tr>
</table>
</div>
</body>
</html>